body {
    background:#111;
    color:white;
    font-family: Arial;
    text-align:center;
}

.menu button {
    padding:10px 20px;
    margin:10px;
    font-size:16px;
    cursor:pointer;
}

.viewer {
    width:90%;
    height:80vh;
    margin:auto;
    border:2px solid white;
}

iframe {
    width:100%;
    height:100%;
}
